$primary: #ff4136;
@import "../../node_modules/bootstrap/scss/bootstrap";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

// Example: Style from medium breakpoint and down
.mt-sm-5 {
  @include media-breakpoint-down(xl) {
    margin-top: 5em !important;
    padding-top: 5em;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 5em !important;
  }
}


