$primary: #580707;

@import "../../node_modules/bootstrap/scss/bootstrap";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

// Example: Style from medium breakpoint and down
.mt-sm-5 {
  @include media-breakpoint-down(xl) {
    margin-top: 5em !important;
    padding-top: 5em;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 5em !important;
  }
}

.carousel-indicators > button {
  background-color: #ff4136;
  border-radius: 50%;
  width: 15px;
  margin: 5px;
  height: 15px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 8%;
}
.carousel-control-prev {
  background: linear-gradient(to right, #000 0%, #00000000 100%);
}
.carousel-control-next {
  background: linear-gradient(to left, #000 0%, #00000000 100%);
}
.single-course {
  h2,
  strong,
  u {
    color: $primary;
  }
  table {
    border: 1px solid $primary;
    gap: 3px;
    tr {
      border-bottom: 1px solid $primary;
    }
    td {
      padding: 8px;
    }
  }
}
.rotate-180 {
  transform: rotate(180deg);
}
.submenu-icon {
  &:hover {
    background-color: $primary;
    color: white;
  }
}
