@import "bootstrap/functions";
// @import "bootstrap/variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

// Example: Style from medium breakpoint and down
.mt-sm-5 {
  @include media-breakpoint-down(xl) {
    margin-top: 5em !important;
    padding-top: 5em;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 5em !important;
  }
}
html {
  scroll-behavior: smooth;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 50%;
}
